.playground {
  font-family: "Proxima nova"
}

.options {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.playground.opened {
  visibility: visible;
}

.opened .options {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.pg-cal {
  text-align: center;
  display: block;
}

.pg-val {
  display: block;
  float: left;
  width: 20%;
  padding: 5px;
  white-space: nowrap;
  color: #5f5f5f;
}

.pg-val:hover {
  cursor: pointer;
}

.pg-val:hover,
.pg-val.active {
  color: #000;
}

.pg-val i {
  display: block;
}

.playground {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: auto;
  z-index: 9999;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  visibility: hidden;
}

.playground > .options {
  background: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.84);
  overflow: hidden;
  -moz-box-shadow: 0 2px 1px 0px rgba(0, 0, 0, 0.1), inset 0 -2px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 1px 0px rgba(0, 0, 0, 0.1), inset 0 -2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 1px 0px rgba(0, 0, 0, 0.1), inset 0 -2px 1px rgba(0, 0, 0, 0.1);
}

.playground h6 {
  font-size: 13px;
  font-family: "Proxima nova"
}

.pg-toggle {
  text-align: center;
  font-size: 20px;
  width: 35px;
  height: 40px;
  line-height: 40px;
  margin: 0;
  z-index: 9999;
  cursor: pointer;
  background: #fff;
  border: 1px solid #efefef;
  border-left: 0;
  border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translateX(0) translateY(-50%);
  -moz-transform: translateX(0) translateY(-50%);
  -ms-transform: translateX(0) translateY(-50%);
  transform: translateX(0) translateY(-50%);
}

.playground .pg-close {
  position: absolute;
  padding: 15px;
  right: 0;
  cursor: pointer;
}

.playground select {
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  outline: none !important;
  letter-spacing: 1px;
}

.playground .options-container {
  width: 100%;
  float: left;
  padding: 3px 15px
}

.playground small {
  font-size: 90%;
}

.playground .cs_color {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  overflow: hidden;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-right: 14px;
}

.playground .cs_color.active,
.playground .cs_color:hover {
  -moz-box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.1), inset 0 -4px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.1), inset 0 -4px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.1), inset 0 -4px 1px rgba(0, 0, 0, 0.1);
}

.playground .cs_1 {
  background: #000;
}

.playground .cs_2 {
  background: #00aed7
}

.playground .cs_3 {
  background: #2ECC71;
}

.playground .cs_4 {
  background: #EB6B56;
}

.playground .cs_5 {
  background: #FF69B4;
}

.playground .cs_6 {
  background: #800080;
}

.playground .cs_7 {
  background: #ab5c2c;
}

.pg-footer {
  position: absolute;
  width: 100%;
  text-align: right;
  bottom: 5px;
  right: 5px;
}
